/* ================== */
/* BASIC SETUP */
/* ================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-family: "Titillium Web", sans-serif;
  text-rendering: optimizeLegibility;
}
ul li {
  list-style-type: none;
}
/*  HEADING */
h1 {
  font-size: 4.2rem;
  color: #fff;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
  height: 0;
  visibility: hidden;
}
/* ================== */
/* reusable component */
/* ================== */
.row {
  max-width: 114rem;
  margin: 0 auto;
}
/* button */
.btn:link,
.btn:visited,
.btn {
  background: #333;
  text-decoration: none;
  border-bottom: 0.3rem solid #000;
  color: #fff;
  text-transform: uppercase;
  padding: 1.5rem 6rem;
  border-radius: 0.3rem;
  display: inline-block;
  margin-top: 4.5rem;
  font-size: 1.6rem;
}

section {
  padding: 8rem 0;
}
h2 {
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 2rem;
  color: #fff;
  text-align: center;
}
h2::after {
  content: "";
  display: block;
  height: 0.4rem;
  background: #fff;
  width: 8.5rem;
  margin: auto;
  margin-top: 2rem;
}

h3 {
  font-size: 2.4rem;
  text-transform: uppercase;
  color: #fff;
  font-weight: 600;
}

.box {
  padding: 1px;
}

.box p {
  font-size: 1.6rem;
  font-weight: 300;
  margin-top: 2.3rem;
}

/* Paragraph */

.little-description {
  font-size: 1.8rem;
  width: 60%;
  margin-left: 20%;
  line-height: 3rem;
}

/* ================== */
/* Header Section */
/* ================== */

header {
  background: linear-gradient(#87509cc5, #87509cc0), url(./img/bg-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 85vh;
  position: relative;
  background-attachment: fixed;
}
.logo {
  height: 3.5rem;
  width: auto;
  margin-top: 3.5rem;
  float: left;
}

/* main-navigation */
.main-nav {
  float: right;
  margin-top: 4rem;
}
.main-nav li {
  display: inline-block;
  margin-left: 1rem;
}

.main-nav li:first-child {
  margin-left: 0;
}
.main-nav li a:link,
.main-nav li a:visited {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  /* background: #643a79; */
  padding: 0.6rem 1.6rem;
  border-radius: 0.3rem;
  display: inline-block;
  font-size: 1.5rem;
  transition: 0.3s;
}
.main-nav li:hover a:link,
.main-nav li:hover a:visited {
  background: #643a79;
}
.main-nav li.active a {
  background: #643a79;
}
.hero-text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.btn-hero:link,
.btn-hero:visited {
  background: #eb7d4b;
  border-color: #c86a40;
}

/* ================== */
/* Services Section */
/* ================== */

.services-section {
  color: #fff;
  text-align: center;
  background: linear-gradient(rgba(23, 196, 165, 0.6), rgba(23, 196, 165, 0.6)),
    url(./img/bg-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.services-section h2::after {
  background: #14a58c;
}

.services-icon {
  height: 12rem;
  margin-top: 4.5rem;
  margin-bottom: 3.5rem;
}

/* ================== */
/* Team Section */
/* ================== */

.team-section {
  text-align: center;
  background: linear-gradient(rgba(231, 241, 248, .9), rgba(231, 241, 248, .9)) , url(img/bg-3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
.team-section h2 {
  color: #3c4761;
}
.team-section h2::after {
  background: #c8d9e5;
}
.team-member{
  margin-top: 4.5rem;
  margin-bottom: 3.5rem;
  height: 20rem;
  width: 20rem;
  border-radius: 50%;
}
.team-section h3{
  color: #27283d;
}
.role{
  color: #30bae7;
  font-size: 1.6rem;
  text-transform: capitalize;
  margin-top: .5rem;
  display: inline-block;
}
.team-section .box p {
  color:#3c4761 ;
}
.social-link{
  margin-top: 4.5rem;
}
.social-link ul li {
    display: inline-block;
    margin: 0 .5rem;
}

.social-link ul li a:link {
    color: #fff;
}
.social-link ul li a:link i::before{
  background: #bdd1df;
  width: 2rem;
  height: 2rem;
  display:block;
  padding:1rem;
  font-size: 2rem;
  border-radius: 50%;
  transition: .5s;
}
.social-link ul li a:hover i::before{
  background: #393939;
  transform: rotate(360deg);
  
}

.skill-section{
  
}